tsconfig.json
eslint.validate
package-lock.json
.env
vendor/
storage/
public/uploads/
*.DS_Store
vendor.rar
storage.zip
public/docs/
public/sximo/uploads/wiki/Cap_Multimedia/Capacitacion1-Acreditacion_Contratista.mp4
public/sximo/uploads/wiki/Cap_Multimedia/Capacitacion2-Carga_Persona.mp4
public/sximo/uploads/wiki/Cap_Multimedia/Capacitacion3-Acreditacion_Personas.mp4
public/sximo/uploads/wiki/Cap_Multimedia/Capacitacion4-F30_1.mp4
public/sximo/uploads/wiki/
deploy/
public/sximo/customer/andina/
public/sximo/customer/emsa/
\.idea/
node_modules/
livezilla/
htdocs/controllaboral/assets
htdocs/controllaboral/node_modules
htdocs/controllaboral/uploads
htdocs/controllaboral/documentos
htdocs/controllaboral/archivos
htdocs/controllaboral/cgi-bin
htdocs/controllaboral/css
htdocs/controllaboral/DB
htdocs/controllaboral/font
htdocs/controllaboral/js
htdocs/controllaboral/PHPExcel-1.8
htdocs/controllaboral/vendor
htdocs/controllaboral/cambioContratista - Copy\.php
htdocs/sximo/customer/transbank/
htdocs/sximo/customer/mlp/
htdocs/controllaboral/ABTDIC/
public/js/
public/css/
public/sximo/customer/brotec/
public/controllaboral/assets
public/controllaboral/node_modules
public/controllaboral/uploads
public/controllaboral/documentos
public/controllaboral/archivos
public/controllaboral/cgi-bin
public/controllaboral/css
public/controllaboral/DB
public/controllaboral/font
public/controllaboral/js
public/controllaboral/PHPExcel-1.8
public/controllaboral/vendor
public/controllaboral/cambioContratista - Copy\.php
public/sximo/customer/transbank/
public/sximo/customer/mlp/
public/build/
public/controllaboral/tbkdic/
public/dist/app.bundle.js
htdocs/

public/controllaboral/ABTDIC/
error.log
access.log
composer.lock
public/dist/app.bundle.js
.vscode/settings.json
settings.json
vscode/settings.json
public/dist